<h1>Enter a sentence and check how many times a word is repeated in it </h1>
<h2>Rules:</h2>
<ol>
  <li>Enter a sentence</li>
  <li></li>
  <li></li>
</ol>

<form action='/sentence'>
<div class="form-group">
    <label for="number">Enter sentence here:</label>
    <input id="number" name="number" type="text">
  </div>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>
