<h1>Enter a sentence and check how many times a word is repeated in it </h1>
<h2>Rules:</h2>


<form action='/sentence'>
<div class="form-group">
    <label for="sentence">Enter sentence here:</label>
    <input id="sentence" name="sentence" type="sentence_check">
  </div>
  <div class="form-group">
      <label for="word">Enter word here:</label>
      <input id="word" name="word" type="text">
    </div>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>
