<div class="output">
  <h2>Here is your result:</h2>
  <h3>The word <em><strong><%= @word %></strong></em> in the sentence <br> <em><strong><%= @sentence %></strong></em><br> has been repeated:</h3>

  <h3 name="result"> <em><strong><%= @result%></strong></em> time(s)</h3>
  <button type="submit" name="button" class="btn btn submit"> <a href="/">Submit new question</a></button>
</div>
